
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/script.js"></script> -->

    <footer class="mrs-footer text-light bg-dark">
        <div class="row">
            <div class="mrs-footer-col col-md-4">
                <h4 class="mrs-brand">Reserved</h4>
                <p class="mrs-footer-desc mrs-paragraph">Provides online reservation services for cinemas here in Cinemaworld.</p>
            </div>

            <div class="mrs-footer-col col-md-4">
                        <h4 class="nav-title">Legal</h4>
                        <ul class="nav-ul">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
            </div>

            <div class="mrs-footer-col col-md-4">
                        <h4 class="nav-title">Development Team</h4>
                        <ul class="nav-ul">
                            <!-- <li><a href="#">Mary Beth Arañas</a></li> -->
                            <li><a href="#">Jalane Chrissia Rivera</a></li>
                        </ul>
            </div>
        </div>

        <div class="mrs-footer-copy-wrapper">
            <div class="mrs-footer-copy">&copy; 2020 <span class="mrs-brand">Reserved</span> All rights reserved.</div>
        </div>
    </footer>
    </body>
</html>