<%- include("partials/header") %>

    <link rel="stylesheet" type="text/css" href="/bootstrap/index.css">
    </head>
<body>

<nav class="mrs-navigation navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="mrs-brand navbar-brand" href="/">Reserved</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="mrs-navigation-list navbar-nav mr-auto">
            <li class="mrs-navigation-link nav-item">
                <a class="nav-link" href="/films">Films</a>
            </li>
            <li class="mrs-navigation-link mrs-navigation-link-reserve nav-item">
                <a class="nav-link" href="/reservedSeats">Reserved<span class="sr-only"></span></a>
            </li>
            <li class="mrs-navigation-link mrs-navigation-link-reserve nav-item">
                <a class="nav-link" href="reserve.html">Reserve Seats</a>
            </li>
        </ul>
        <section class="mrs-user navigation-link">
            <img class="mrs-user-avatar" src="/img/user-avatar.png">
            <span>John Smith</span>
        </section>
        <form class="mrs-nav-search form-inline my-2 my-lg-0" method="get" action="reserve.html">
            <input class="form-control mr-sm-2" type="search"  name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<main class="mrs-home">
    <div class="mrs-section mrs-now-showing">
        <h2>NOW SHOWING</h2>
        <div class="mrs-now-showing-content">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" id="now-showing-container">
                    <div class="carousel-item active">
                        <img src="img/bg.jfif" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> 
    </div>
    <div class="mrs-featured mrs-section container">
        <h2>Featured Films</h2>
        <div class="row mrs-featured-content" id="featured-films-section">
            <!-- Some content here -->
        </div>
    </div>
    <div class="mrs-reserve-cta mrs-section container">
        <h2>Want to reserve a ticket?</h2>
        <div class="mrs-reserve-cta-content">
            <p class="mrs-paragraph">Reserve ticket now before they run out. Bring your family and friends. Make it an fun day for everyone</p><br>
            <a href="reserve.html" class="mrs-reserve-cta-btn">Reserve Seats</a>
        </div>            
    </div>
</main>

<%- include("partials/footer") %>